.article-show-item {
    /* overflow: hidden; */
    max-height: 8rem;
    /* box-shadow:  0 0 0.5rem gray; */
    /* padding: 0.5rem 1rem; */
    overflow: hidden;
    border-bottom: solid 1px rgb(184, 184, 184);
    background-color: white;
}
.article-show-item:hover {
    background-color:rgb(253, 253, 207);
    cursor: pointer;
    /* box-shadow:  0 0 1rem gray; */
}